/* inline elements */
a{
    text-decoration: none;
}

a:visited{
    color:black;
    text-decoration: none;
}

a:active{
    color:red;
    text-decoration: none;
}

a:hover{
    color:skyblue;
    font-size: larger;
}
/* Above of all, I assigned the tags of a being seen colorful. */
h1{
    font-size: 50px;
    text-align: center;
    border-bottom: 1px solid black;
    margin: 0px;
    padding: 20px;
}

/* Body area */ 
#grid{
    display: grid;
    grid-template-columns: 241px 1fr;
}

@media(max-width:575px) {
    #grid{
        display: block;
    }
    
}

#grid ol{
    border-right: 1px solid black;
    font-size: 25px;
    margin: 0px; 
    padding: 20px 0px 0px 60px;
}

ol li{
    padding-top: 5px; 
}

.One{
    padding: 20px;
}

.One h2{
    margin:0px 0px 10px 0px;
}

.BEGINNING{
    color: red;
}

img{
    margin-top: 10px;
}


