doctype html
html 
    head
        meta(charset= 'uft-8')
    body
        h4= min
        h2= _formed
        form(action= '/form_receiver' method= 'post')
            p 
                input(type = 'text' name= 'title')
            p 
                textarea(name = 'description')
            p
                input(type='submit')
            p
